:root {
	--pwidth: 500ch;
	--pheight: 500ex;	
	}
body {
	background-color: #111111;
}
div { 
	position: absolute; left: 0; top: 0;
	padding: none;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 14;
	margin: none;
	width: var(--pwidth);
	height: var(--pheight);
	color: #EEEEEE;
	resize:none;
	display: block;
	white-space: break-spaces;
	overflow-wrap: anywhere;
	border: none;
}
